body{background-color: rgb(180, 247, 224); color: blue;}
h1{color:rgb(252, 251, 253);font-family:Arial, sans-serif; font-size:36px; text-align: center;}
h2{color:blueviolet;font-family:Arial, sans-serif; font-size:25px; text-align: center;}
p{font-family:'Georgia', serif;font-size:18px; padding:5px; margin:20px; text-align: center}
#lenguaje{background-color: beige; margin:20px; padding:5px; text-align: center}

main{
    display: flexbox;
}
.container-nav {
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.brand {
    display: flex;
    align-items: center;
}

li>a {
    padding: 8px 24px;
}
li {
    list-style-type: none;
}
a {
    color: white;
    text-decoration:none;
}
.nav-links {
    display: flex;
    align-items: center;
}
.button-menu-toggle {
    display: none;
}

@media (max-width: 768px) {
    .column {
      flex: 100%;
    }
    .nav-links {
        display: none;
    }
    
    .button-menu-toggle {
        display: block;
        background-color: white;
        border:none;
        border-radius: 50px;
        padding: 0 24px;
        font-family: monospace;
        font-weight: bold;
        font-size: 20px;
    }
     
    .nav-links.nav-links-responsive {
        position: absolute;
        display: flex;
        background-color: rgba(20,20,20,0.95);
        width: 100%;
        height: 100%;
        top: 70px;
        left: 0;
        flex-direction: column;
        padding-top: 100px;
        align-items: center;
        gap:70px;
        font-size: 30px;
    }
}

.container{
    max-width: 800px;
    margin: auto;
    margin-top: 70px;
    padding: 20px;
	border: 2px blueviolet solid;
    background: linear-gradient(#3371f5, rgb(168, 238, 168));
    border-radius: 10px;
    
    
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 10px ;
}

.column{
    flex: 1;
    padding: 10px;
    border: 2px black solid;
    background-color: rgb(204, 235, 245);
    border-radius: 10px;
    margin: 5px;
}

.img-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    border: 5px solid blueviolet;
    flex-direction: row;
    justify-content: center;
    width: 700px;
    align-content: center;
    
    
}
.img-container img{
    width: 200px;
    height: 300px;
    margin: 10px;
    
}

.video {
    display: flex;
    justify-content: center;
    margin: 20px;
    
}


footer {
    height: 100px;
    background-color: black;
    display: flexbox;
    flex-direction: column; 
    justify-content: flex-end;
  
}
        
button {
    font-size: 16px;
    border-radius: 15px;
    background-color: rgb(180, 103, 9);
    color: rgb(15, 14, 15);
    padding: 5px;
    display: flex;
    margin: auto;
}


button:hover{
    background-color: rgb(236, 193, 136);
}

form{
    margin: auto;
    border: 5px blueviolet dashed;
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 400px;
    font-weight: bold;
}